@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
    /* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */

    /* outline: .0625rem dashed #f00; */

}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header {
    color: #68696F;
    width: 1200px;
    margin: 0 auto;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header .top_header {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    line-height: 5rem;
}

.top_logo {
    display: block;
    text-align: center;
}

.top_logo img {
    max-width: 130px;
}

.right_area {
    margin: 0;
    font-size: 25px;
    display: flex;
    gap: .9375rem;
    position: absolute;
    right: 0;
    top: 0;
}

.container .gnb>ul {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    line-height: 1.25rem;
    padding: 0 18.75rem;
    margin: 1.25rem 0 1.25rem 0;
}


.container .gnb>ul>li {
    position: relative;
}


.container .gnb>ul>li .smenu {
    position: absolute;
    top: 25px;
    left: 50%;
    display: none;
    background: #fff;
    line-height: 35px;
    width: 150px;
    text-align: center;
    transform: translateX(-50%);
    border: 2px solid #68696F;
    z-index: 999;
}

.container .gnb>ul>li:hover .smenu {
    display: block;
}

.mainVisual {
    position: relative;
    margin: 0 0 100px 0;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 700px;

}

.mainVisual .mainSlider .itm01 {
    background: url(../img/Denby_Heritage.webp) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm02 {
    background: url(../img/Romantic-dessert.webp) no-repeat center center/cover;
}


.mainVisual .mainSlider .itm03 {
    background: url(../img/mainslide01.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm04 {
    background: url(../img/mainslide03.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm05 {
    background: url(../img/Romantic.png) no-repeat center center/cover;
}

.mainVisual .mainSlider .inner {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.mainVisual .mainSlider .slick-dots {
    position: absolute;
    inset: auto auto 50px 50%;
    transform: translateX(-50%);
}

.mainVisual .mainSlider .slick-dots li {
    display: inline-block;
}

.mainVisual .mainSlider .slick-dots button {
    outline: none;
    border: none;
    width: 70px;
    height: 5px;
    margin: 0 5px;
    font-size: 0;
    background-color: #ddd;
    cursor: pointer;
}

.mainVisual .mainSlider .slick-dots li.slick-active button {
    background: #BEA1A4;
    color: #fff;
}

.best_selling {
    margin: 0 0 150px 0;
    color: #68696F;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.best_selling .main_text {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.best_selling .main_text h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;

}

.best_selling .main_text P {
    margin: 0 0 50px 0;
    font-size: 15px;
    font-weight: 300;
}

.best_selling .container {
    gap: 30px;
}

.best_selling .container figure {
    flex: 1;
    background-color: #f5f6f7;
    padding: 80px 20px;
    margin: 0 0 30px 0;
}

.best_selling .container figure img {
    width: 250px;
}

.best_selling .container .image {
    position: relative;
}

.best_selling .container strong {
    display: block;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

.background {
    margin: 0 0 150px 0;
}

.background .bg_photo {
    padding: 240px;
    background: url(../img/top_visual.jpg) fixed no-repeat center center/cover;
}

.background .txt {
    width: 630px;
    margin: 0 auto;
    text-align: center;
    color: #002D62;
}

.background .txt .txt_dim {
    padding: 40px 0 40px 0;
    background: rgba(255, 255, 255, 0.95);
}

.background p {
    margin: 0 0 10px 0;
    font-size: 33px;
    font-weight: 900;
    font-family: 'Lora', serif;
}

.background span {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 21px;
    font-weight: 400;
}



.collection {
    margin: 0 0 150px 0;
    color: #68696F;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.collection .main_text {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.collection .main_text h2 {
    margin: 0 0 50px 0;
    font-size: 1.875rem;
    font-weight: 700;
}

.collection .container {
    gap: 1.875rem;
    text-align: center;
}

.collection .container .image .img_box01 figure {
    margin: 0 0 30px 0;
}

.collection .container .image .img_box01 strong {
    margin: 15px 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

.customer {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    color: #68696F;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.customer>div {
    flex: 1;
    padding: 0;
}

.customer .left {
    text-align: right;
}

.customer .left figure {
    width: 37.5rem;
}

.customer .right {
    text-align: left;
    background: #fff;
    padding: 9.375rem 0 0 3.125rem;
}

.customer>div {
    display: block;
    color: #666;
    text-shadow: 0 0 .1875rem var(--dc);
}

.customer>div h3 {
    font-size: 1.875rem;
    font-weight: 500;

    margin: 0 0 .9375rem 0;
}

.customer>div p {
    font-size: .9375rem;
    line-height: 1.3125rem;
    padding: 0 0 1.25rem 0;
}


.customer_02 {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 500;
    padding-bottom: 9.375rem;
}

.customer_02>div {
    flex: 1;
}

.customer_02 .left {
    text-align: right;
    padding: 9.375rem 3.125rem 0 0;
}

.customer_02 .right {
    text-align: left;

}

.customer_02>div {
    display: block;
    color: #666;
    text-shadow: 0 0 .1875rem var(--dc);

}

.customer_02>div h3 {
    font-size: 1.875rem;


    margin: 0 0 .9375rem 0;

}

.customer_02>div p {
    font-size: .9375rem;
    line-height: 1.3125rem;
    font-weight: 300;
    padding: 0 0 1.25rem 0;
}

.main_banner {
    color: #fff;
    margin: 0 0 9.375rem 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

}

.main_banner_2 {
    position: relative;
    width: 100%;
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
}

.main_banner_2 ul {
    font-size: 0;
}

.main_banner_2 li {
    position: relative;
    display: inline-block;
    width: 50%;
    font-size: .875rem;
    vertical-align: top;
}

.main_banner_2 li img {
    width: 100%;
}

.over_banner a {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}

.over_banner a img {
    opacity: 1;
    transition: transform 0.5s ease-in-out;
}

.over_banner a img:hover {
    transform: scale(1.3);
}

.over_banner .b_tit {
    opacity: 1;
    position: absolute;
    left: 2.5rem;
    top: 1.5625rem;
    font-size: .875rem;
    text-align: left;
    z-index: 3;
    padding: 1.875rem 1.875rem 1.25rem 1.875rem;
    background: rgba(0, 0, 0, 0.15);

}

.over_banner .b_tit h3 {
    font-size: 2.1875rem;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

}

.over_banner .b_tit p {
    display: block;
    font-size: .9375rem;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    line-height: 1.4;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

.mb_in_1 {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
}

.mb_in_1 li {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: .875rem;
}

.mb_in_2 {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
}

.mb_in_2 li {
    position: relative;
    display: inline-block;
    width: 50%;
    font-size: .875rem;
}


.shop_color {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    margin: 0 0 9.375rem 0;
    color: #68696F;
}


.shop_color .main_text {
    width: 75rem;
    margin: 0 auto;
    text-align: left;
}

.shop_color .main_text h2 {
    color: #666;
    margin: 0 0 1.875rem 0;
    font-size: 1.875rem;
    font-weight: 700;
}

.shop_color .container {
    gap: 1.875rem;
    text-align: center;
}

.shop_color .container .image .img_box01 figure {
    margin: 0 0 30px 0;

}

.shop_color .container .image .img_box01 strong {
    margin: 0 0 3.125rem 0;
    font-size: 1.0625rem;
    font-weight: 500;
    color: #666;
    text-transform: uppercase;
}



.howto {

    width: 75rem;
    margin: 0 auto;
}

.howto .howto_box {
    margin: 0 0 9.375rem 0;
    display: flex;
    gap: 1.875rem;
}

.howto_left>div {
    flex: 1;
}

.howto .left {
    text-align: right;
    flex: 1;
}

.howto .right {
    text-align: left;
    flex: 1;
}

.howto>div a {
    display: block;
    color: #666;
}

.howto .left_text {
    margin: 0 0 5rem 0;
}

.howto .left_text h3 {
    font-size: 1.6875rem;
    font-weight: 500;
    margin: 0 0 1.875rem 0;
    font-family: 'Lora', serif;
}

.howto .left_text p {
    font-size: .9375rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    line-height: 1.5625rem;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.howto .right_text {
    padding: 5rem 0 0 0;
}

.howto .right_text h3 {
    font-size: 1.6875rem;
    font-weight: 500;
    margin: 0 0 1.875rem 0;
    /* text-transform: uppercase; */
    font-family: 'Lora', serif;

}

.howto .right_text p {
    font-size: .9375rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    line-height: 1.5625rem;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.guide .guide_con {
    display: flex;
    width: 100%;
}

.guide .guide_con>div {
    padding: 3.5% 3% 0 3%;
}

.guide {
    text-align: center;
    color: #fff;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.guide_con h3 {
    font-size: 35px;
    display: block;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.guide_con p {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 30px 0;
}


.buying_guide {
    flex: 1;
    width: 33%;
    background: #002D62;
}

.buying_guide img:hover img {
    filter: brightness(8)
}

.tableware {
    flex: 1;
    width: 33%;
    background: #006AA1;
}

.catalogue {
    flex: 1;
    width: 33%;
    background: #D8854A;
}

.guide .guide_con a {
    display: block;
    margin: 0 0 60px 0;
}


.guide .guide_con .btn {
    padding: 7px 50px;
    border: 1px solid #fff;
}

.footer {
    background: #f4f4f4;
    color: #666;
    font-size: .8125rem;
    border-top: .0625rem solid #ddd;
}

.zeroTop {
    border-bottom: .0625rem solid #ddd;
    line-height: 3.125rem;
}

.footer .top {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer .top dt,
.footer .top dd {
    display: inline-block;
    margin: 0 1.25rem 0 0;
    justify-content: space-between;
    font-weight: 500;
}

.footer .top i {
    font-size: 1.5625rem;
}

.footer .middle {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 1.5625rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer .middle .logo {
    display: block;
}

.footer .middle address li {
    display: block;
    margin: 0 3.125rem 0 0;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 1.4375rem;
}

.footer .middle .sns {
    font-size: 1.875rem;
}

.footer .add .copy {
    padding-top: .4375rem;
    font-size: .6875rem;
    font-style: normal;
    text-align: left;
    font-weight: 300;
}

.footer .container {
    justify-content: space-between;
}

.footer .sns i {
    margin: 0 0 0 1.25rem;
}

.mbtn {
    display: none;
}



/*  반응형 시작!! */

@media (max-width: 768px) {

    .header .top_header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* line-height: 100px; */
        width: auto;
        margin: 0 auto;
    }

    .header .top_header>ul {
        display: flex;
        gap: 20px;
        width: 50%;
        order: -1;
        /* line-height: 30px; */
        padding: 0 15px;
        font-size: 13px;
    }

    .header .top_header .right_area {
        justify-content: flex-end;
    }

    .top_logo {
        display: block;
    }

    .right_area {
        display: flex;
        line-height: 170px;
        font-size: 25px;
        left: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
        gap: .9375rem;
        position: absolute;
    }

    .gnb a {
        display: block;
    }

    .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: #fff;
        border-top: none;
        border-bottom: none;
        border-right: 1px solid #ddd;
        line-height: 50px;
        padding: 100px 15px 0 15px;
        transition: 0.5s;
        z-index: 999;
    }

    .gnb.on {
        left: 0;
    }

    .container .gnb>ul {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .container .gnb>ul>li {
        position: relative;
        flex: 1;
        border: none;
        border-bottom: 1px solid #666;
    }

    .container .gnb>ul>li:last-child {
        border-right: none;
    }

    .container .gnb>ul::after {
        display: none;
        content: "//";
        position: absolute;
        top: 51px;
        left: 0;
        width: 100%;
        height: 0;
        background: #fff;
        transition: 0.5s;
        z-index: 998;
    }

    .container .gnb>ul:hover::after {
        height: 1 50px;
    }

    .container .gnb .smenu {
        position: static;
        display: none;
        top: 50px;
        left: 0;
        width: 100%;
        height: auto;
        background: #f7f7f7;
        transition: none;
        z-index: 999;
    }

    .container .gnb>ul:hover .smenu {
        height: auto;
    }

    .mbtn {
        display: block;
        position: fixed;
        top: 20px;
        right: 30px;
        padding: 5px;
        border-radius: 8px;
        background: #f2f2f2;
        font-size: 23px;
        z-index: 999;
    }

    .mainVisual {
        position: relative;
        margin: 0 0 150px 0;
    }

    .mainVisual .mainSlider figure {
        position: relative;
        height: 800px;
    }

    .mainVisual .mainSlider .inner {
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 0 0 3px #000;
    }

    .mainVisual .mainSlider .slick-dots {
        position: absolute;
        inset: auto auto 50px 50%;
        transform: translateX(-50%);
    }

    .mainVisual .mainSlider .slick-dots li {
        display: inline-block;
    }

    .mainVisual .mainSlider .slick-dots button {
        outline: none;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 5px;
        font-size: 0;
        background-color: #ddd;
        cursor: pointer;
    }

    .mainVisual .mainSlider .slick-dots li.slick-active button {
        background: #BEA1A4;
        color: #fff;
    }

    .best_selling {
        margin: 0 0 150px 15px;
        color: #68696F;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .best_selling .main_text {
        width: auto;
        margin: 0 auto;
        text-align: left;
    }

    .best_selling .container {
        flex-direction: column;
    }

    .best_selling .container figure {
        width: auto;
    }

    .best_selling .container figure img {
        padding: 0;

    }

    .best_selling .container .image {
        /* position: relative; */
    }

    .best_selling .container strong {
        display: block;
        text-align: left;
        margin: 15px 0 0 0;
        font-size: 17px;
        font-weight: 500;
    }

    .background {
        margin: 0 0 150px 0;
    }

    .background .bg_photo {
        padding: 140px;
        background: url(../img/top_visual.jpg) fixed no-repeat center center/cover;
    }

    .background .txt {
        width: auto;
        margin: 0 auto;
        text-align: center;
        color: #002D62;
    }

    .background .txt .txt_dim {
        padding: 40px 0 40px 0;
        background: rgba(255, 255, 255, 0.95);
    }

    .background p {
        margin: 0 0 20px 0;
        font-size: 33px;
        font-weight: 900;
        font-family: 'Lora', serif;
    }

    .background span {
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        font-size: 21px;
        font-weight: 400;
    }



    .collection {
        margin: 0 0 150px 0;
        color: #68696F;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .collection .main_text {
        width: auto;
        margin: 0 auto;
        text-align: left;
    }

    .collection .main_text h2 {
        margin: 0 0 50px 15px;
        font-size: 1.875rem;
        font-weight: 700;
    }

    .collection .container {
        flex-direction: column;
        gap: 1.875rem;
        text-align: left;
        margin: 0 0 0 15px;
    }

    .collection .container .image .img_box01 figure {
        margin: 0 0 15px 0;
    }

    .collection .container .image .img_box01 strong {
        margin: 10px 0 0 10px;
        font-size: 17px;
        font-weight: 500;
        text-align: left;
    }

    .customer {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: #68696F;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .customer>div {
        flex: 1;
        padding: 0;
    }

    .customer .left {
        text-align: left;
    }

    .customer .left figure {
        width: auto;
    }

    .customer .right {
        text-align: left;
        background: #fff;
        padding: 15px 0 0 15px;
    }

    .customer>div {
        display: block;
        color: #666;
    }

    .customer>div h3 {
        font-size: 1.875rem;
        font-weight: 500;
        margin: 0 0 .9375rem 0;
    }

    .customer>div p {
        font-size: .9375rem;
        line-height: 1.3125rem;
        padding: 0 0 1.25rem 0;
    }


    .customer_02 {
        width: 75rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
        font-weight: 500;
        padding-bottom: 9.375rem;
    }

    .customer_02>div {
        flex: 1;
    }

    .customer_02 .right figure {
        width: auto;
    }

    .customer_02 .left {
        text-align: left;
        padding: 15px 0 0 15px
    }

    .customer_02 .right {
        text-align: left;
    }

    .customer_02>div {
        display: block;
        color: #666;
    }

    .customer_02>div h3 {
        font-size: 1.875rem;
        margin: 0 0 15px 0;
    }

    .customer_02>div p {
        font-size: .9375rem;
        line-height: 1.3125rem;
        font-weight: 300;
        padding: 0 0 1.25rem 0;
    }

    .main_banner {
        color: #fff;
        margin: 0 0 9.375rem 0;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

    }

    .main_banner_2 {
        position: relative;
        width: 100%;
        min-width: 200px;
        margin: 0 auto;
        text-align: center;
    }

    .main_banner_2 ul {
        font-size: 0;
    }

    .main_banner_2 li {
        position: relative;
        display: inline-block;
        width: 50%;
        font-size: .875rem;
        vertical-align: top;
    }

    .main_banner_2 li img {
        width: 100%;
    }

    .over_banner a {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .over_banner a img {
        opacity: 1;
        transition: transform 0.5s ease-in-out;
    }

    .over_banner a img:hover {
        transform: scale(1.3);
    }

    .over_banner .b_tit {
        opacity: 1;
        position: absolute;
        left: 2.5rem;
        top: 1.5625rem;
        font-size: .875rem;
        text-align: left;
        z-index: 3;
        /* padding: 0; */
        background: rgba(0, 0, 0, 0.15);
    }

    .over_banner .b_tit h3 {
        font-size: 2.1875rem;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .over_banner .b_tit p {
        display: block;
        font-size: .9375rem;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
        line-height: 1.4;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0rem;
        margin-inline-end: 0rem;
    }

    .mb_in_1 {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .mb_in_1 li {
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: .875rem;
    }

    .mb_in_2 {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .mb_in_2 li {
        position: relative;
        display: inline-block;
        width: 50%;
        font-size: .875rem;
    }


    .shop_color .main_text {
        width: 75rem;
        margin: 0 auto;
        text-align: left;
    }

    .shop_color .main_text h2 {
        color: #666;
        margin: 0 0 1.875rem 15px;
        font-size: 1.875rem;
        font-weight: 700;
    }

    .shop_color .container {
        flex-direction: column;
        gap: 1.875rem;
        text-align: left;
    }

    .shop_color .container .image .img_box01 figure {
        margin: 0 0 15px 15px;

    }

    .shop_color .container .image .img_box01 strong {
        margin: 0 0 3.125rem 15px;
        font-size: 1.0625rem;
        font-weight: 500;
        color: #666;
        text-transform: uppercase;
    }

    .howto {
        width: auto;
        margin: 0 auto;
    }

    .howto .howto_box {
        margin: 0 0 9.375rem 0;
        display: flex;
        gap: 1.875rem;
    }

    .howto_left>div {
        flex: 1;
    }

    .howto .left {
        text-align: right;
        flex: 1;
    }

    .howto .right {
        text-align: left;
        flex: 1;
    }

    .howto>div a {
        display: block;
        color: #666;
    }

    .howto .left_text {
        margin: 0 0 5rem 0;
    }

    .howto .left_text h3 {
        font-size: 1.6875rem;
        font-weight: 500;
        margin: 0 0 1.875rem 0;
        font-family: 'Lora', serif;
    }

    .howto .left_text p {
        font-size: .9375rem;
        font-weight: 300;
        /* text-transform: uppercase; */
        line-height: 1.5625rem;

        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .howto .right_text {
        padding: 5rem 0 0 0;
    }

    .howto .right_text h3 {
        font-size: 1.6875rem;
        font-weight: 500;
        margin: 0 0 1.875rem 0;
        /* text-transform: uppercase; */
        font-family: 'Lora', serif;

    }

    .howto .right_text p {
        font-size: .9375rem;
        font-weight: 300;
        /* text-transform: uppercase; */
        line-height: 1.5625rem;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .guide .guide_con {
        display: flex;
        width: 100%;
    }

    .guide .guide_con>div {
        padding: 3.5% 3% 0 3%;
    }

    .guide {
        text-align: center;
        color: #fff;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }

    .guide_con h3 {
        font-size: 25px;
        display: block;
        font-weight: 600;
        margin: 0 0 10px 0;
    }

    .guide_con p {
        font-size: 0;
        font-weight: 300;
        margin: 0 0 30px 0;
    }

    .buying_guide {
        flex: 1;
        width: 33%;
        background: #002D62;
    }

    .tableware {
        flex: 1;
        width: 33%;
        background: #006AA1;
    }

    .catalogue {
        flex: 1;
        width: 33%;
        background: #D8854A;
    }

    .guide .guide_con a {
        display: block;
        margin: 0 0 60px 0;
    }


    .guide .guide_con .btn {
        padding: 7px 50px;
        border: 1px solid #fff;
    }


    .footer .top {
        width: auto;
        margin: 0 auto;
        display: flex;

        justify-content: space-around;
    }


    .footer .top dt,
    .footer .top dd {
        display: inline-block;
        margin: 0 1.25rem 0 0;
        justify-content: space-between;
        font-weight: 500;
    }

    .footer .top i {
        font-size: 1.5625rem;
    }

    .footer .middle {
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        line-height: 1.5625rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .footer .middle .logo {
        display: block;
        padding: 0 15px 0 10px;
    }

    .footer .middle address li {
        display: block;
        margin: 0 3.125rem 0 0;
        font-style: normal;
        text-align: left;
        font-weight: 400;
        line-height: 25px;
    }

    .footer .middle .sns {
        font-size: 1.875rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer .add .copy {
        padding-top: .4375rem;
        font-size: .6875rem;
        font-style: normal;
        text-align: left;
        font-weight: 300;
    }

    .footer .container {
        justify-content: space-between;
    }

    .footer .sns i {
        margin: 0 0 0 1.25rem;
    }


}